body
{
    font-family: 'Roboto', sans-serif;
    font-size: small;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

h1
{
    font-family: 'Hero Main', sans-serif;

    font-weight: bolder;
    font-size: 200%;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: aqua;
}

ul
{
    list-style-type: none;
}

#header,
#title,
#footer
{
    background-color: #1F2937;
    color: white;
}

#quote
{
    background-color: #E5E7EB;
    color: #1F2937;
}

#header
{
    padding-left: 10em;
    padding-right: 10em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header ul
{
    display: flex;
    gap: 1em;

    font-weight: lighter;
}

#title
{
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 4em;
    padding-bottom: 6em;

    display: flex;
    justify-content: center;
    gap: 3em;
}

#title div
{
    flex: 1 1 50%;
}

.title-info
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-image
{
    background-color: #5A7585;

    display: flex;
    justify-content: center;
    align-items: center;
}