body
{
    font-family: 'Roboto', sans-serif;
    font-size: small;

    display: flex;
    flex-direction: column;
}

#header,
#footer
{
    color: white;
}

#header
{
    background-color: #1F2937;
}